# WAMP Connection Configuration
VITE_WAMP_WT_URL=https://localhost:8082/wamp
VITE_WAMP_WT_CERT_URL=http://localhost:8083/wt-cert-hash
VITE_WAMP_REALM=io.xconn.deskconn

VITE_REGISTRATION_AUTHID=deskconn-web-app
VITE_REGISTRATION_PRIVATE_KEY=b3d3f7edb84d933e52e9bcf13eea2e1981ca5633c6c0e4966e328d9b35ca253a
